@{
    ViewBag.Title = "Index";
}

<div>
    <div id="mapa"></div>
</div>
<input type="hidden" id="localDePescaSelecionado" />
<div class="modal fade" id="popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li id="liComentario" onclick="SelecionarTab('divComentarios', 'liComentario');"><a href="#">Comentarios</a></li>
                    <li id="liRelato" onclick="SelecionarTab('divRelatos', 'liRelato');"><a href="#">Relatos de pesca</a></li>
                </ul>
                <div id="divComentarios" style="display:none">
                    <div class="panel-group">
                        <div id="divConteudoComentarios">

                        </div>
                        @Html.Partial("_NovoComentario")
                    </div>
                    <div id="divRelatos" style="display:none">
                        <div id="divConteudoRelato">

                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Novo Relato de pesca</div>
                            <div class="panel-body">Panel Content</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SelecionarTab(div, li)
    {
        document.getElementById('divComentarios').style.display = 'none';
        document.getElementById('divRelatos').style.display = 'none';
        document.getElementById(div).style.display = 'block';

        document.getElementById('liComentario').className = '';
        document.getElementById('liRelato').className = '';
        document.getElementById(li).className = 'active';
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Mapa")
}